# =========================
# Unreal Engine
# =========================
**/Binaries/
**/Intermediate/
**/DerivedDataCache/
**/Saved/

# Unreal build artifacts
*.pch
*.obj
*.lib
*.dll
*.exe
*.exp
*.log

# =========================
# Visual Studio
# =========================
.vs/
*.ipch
*.pdb

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# OS / System
# =========================
Thumbs.db
.DS_Store

# =========================
# Optional (Crash reports)
# =========================
*.dmp
