# =========================
# Unreal Engine
# =========================
Binaries/ 
DerivedDataCache/ 
Intermediate/ 
Saved/ 
*.log 
*.sln 
*.opensdf 
*.sdf 

# =========================
# Visual Studio
# =========================
.vs/
*.ipch
*.pdb

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# OS / System
# =========================
Thumbs.db
.DS_Store

# =========================
# Optional (Crash reports)
# =========================
*.dmp
